rules_version = '2';
service cloud.firestore {
  match /transactions/{database}/documents {
    match /{document=**} {
      // allow read, write;
      // allow read, create,delete,update;

      // only auth
      allow create: if request.auth != null;

      // logged in user uid must match the document creator to read and delete 
      allow read, delete : if request.auth.uid == resource.data.uid;
    } 
  }
}